.scrolling-container {
  display: flex;
  animation: scroll 40s linear infinite;
  cursor: pointer;
}

.box {
  display: inline-block;
}

/* Keyframes for infinite scrolling */
@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Pause the animation on hover */
.scrolling-container:hover {
  animation-play-state: paused;
}
